a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
	color: black;
}

a:active {
	text-decoration: underline;
	color: black;
}

a:link,
a:visited {
	display: inline-block;
	padding: 14px;
}

/* The buttons at the to of the page */

.item4 {
}
#header {
	display: grid;
}

#middle-content {
	display: grid;
	bottom: 100;
}

#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0px;
	padding: 0px;
	min-width: 100%;
	max-width: 100%;
	font-size: 15px;
	background: rgb(248, 245, 245);
	border-top: 1px solid lightgray;
}

/* The Google logo and the search bar */

.googlelogo {
	position: relative;
	justify-self: center;
}
.searchbar {
	justify-self: center;
	background-image: url("magnifying-glass-1976105_1280.png"), url("googlemicrophone.png");
	background-repeat: no-repeat;
	background-position: left center, right center;
	background-size: 20px;
	height: 40px;
	width: 450px;
	border-radius: 20px;
	border: 2px solid lightgray;
}

.searchbar:hover {
	box-shadow: 0 4px 8px 0 rgba(136, 136, 136, 0.2), 0 6px 20px 0 rgba(167, 167, 167, 0.19);
}

/* The buttons below the Google Logo  */

.searchbuttongroup {
	float: left;
	width: 300px;
	margin-left: 100px;
	justify-self: center;
	background-color: transparent;
	cursor: pointer;
}
